<?php
/**
 * @var $block \Richpanel\Analytics\Block\System\Config\Button\Import
 */
?>
<?php if ($block->buttonEnabled()): ?>
    <?php /** @var \Richpanel\Analytics\Model\Import $import */
    $import = $block->getImport(); ?>
    <?php $storeId = $import->getStoreId(); ?>
    <div class="pp-buttons-container">
        <button id="<?php echo $block->getHtmlId() ?>" onclick="return false;">
            <span><?php echo __('Begin Import'); ?></span>
        </button>
    </div>
    <script>
    require([
        'jquery',
        'richpanelImport'
    ], function($, richpanel) {
        let duration = jQuery("#richpanel_analytics_general_rp_duration").val();
        let totalChunks = 0;
        if (duration == 'resume') {
            let localValue = localStorage.getItem("rpmagentosynctotal");
            if (isNaN(localValue) == false) {
                localValue = Number.parseInt(localValue);
            }
            totalChunks = localValue || 0;
            duration = localStorage.getItem("rpmagentosyncduration");
        }
        if (totalChunks === 0) {
            totalChunks = <?php echo $import->getChunks($storeId); ?>;
            localStorage.setItem("rpmagentosynctotal", totalChunks);
            localStorage.setItem("rpmagentosyncduration", duration);
        }
        
        $("#<?php echo $block->getHtmlId() ?>").import({
            storeId: <?php echo $storeId; ?>,
            totalChunks: totalChunks,
            submitUrl: '<?php echo $block->getAjaxUrl(); ?>',
            messageSelector: '#richpanel_import_status',
            duration: duration
        });
        
        let durationFromSelect = jQuery("#richpanel_analytics_general_rp_duration").val();
        jQuery("#richpanel_analytics_general_rp_duration").on("change", function () {
            let button = jQuery("#richpanel_analytics_general_import");
            let currentDuration = jQuery("#richpanel_analytics_general_rp_duration").val();
            if(currentDuration !== durationFromSelect) {
                button.attr('disabled', 'disabled');
                update_importing_message("<span style='color: red;'>Please save configuration before starting sync.</span>");
            } else {
                button.removeAttr('disabled');
                update_importing_message("Ready for Order Import.");
            }
        })

        var update_importing_message = function(message){
            jQuery('#richpanel_import_status').html(message);
        }
    });
    </script>
    <div id="richpanel_import_status"></div>
    <?php return; ?>
    <?php // ------------------------- move code below to import.js file ?>
    <script>
        require(['jquery'], function ($) {
            var htmlId = "#<?php echo $block->getHtmlId() ?>";
            let duration_selected = jQuery("#richpanel_analytics_general_rp_duration").val();
            $("#<?php echo $block->getHtmlId() ?>").on("click", function() {
                var store_id     = <?php echo $storeId; ?>;
                var total_chunks = <?php echo $import->getChunks($storeId); ?>;
                // var duration_selected = '<?php echo $import->getDurationSelected($storeId); ?>';
                // console.log('duration_selected 2', duration_selected)
                var chunk_percentage = 100;
                if(total_chunks > 0){
                    chunk_percentage = (100 / total_chunks);
                }
                // Update button state and text
                $(this).addClass('disabled').attr('disabled', 'disabled').text('Importing orders');

                var sync_chunk = function(chunk_id) {
                    progress_percents = Math.round(chunk_id * chunk_percentage);
                    update_importing_message(`Please wait... ${progress_percents}% (${chunk_id*50}/${total_chunks*50}) done`, true);
                    // add form_key for magento controller check
                    data = {'store_id': store_id, 'chunk_id': chunk_id, 'duration': duration_selected, 'form_key': window.FORM_KEY};
                    jQuery.post('<?php echo $block->getAjaxUrl(); ?>', data, function(response) {
                        new_chunk_id = chunk_id + 1;
                        if(new_chunk_id < total_chunks){
                            setTimeout(function() {
                                sync_chunk(new_chunk_id);
                            }, 100);
                        }else{
                            update_importing_message("<span style='color: green;'>Done! Please expect up to 30 minutes for your historical data to appear in Richpanel.</span>", false);
                            $(htmlId).removeAttr('disabled').removeClass('disabled').text('Reimport Orders');
                        }
                    });
                };
                var update_importing_message = function(message, show_loader){
                    if (show_loader)
                        message = '<img src="<?php // echo $this->getSkinUrl("richpanel/loader.gif"); ?>" />' + message;
                    jQuery('#richpanel_import_status').html(message);
                }
                sync_chunk(0);
            });
        });
    </script>
    <?php // \Zend_Debug::dump(array_keys($block->getData())); return; ?>
    <?php if ($block->showInStore()): ?>
        <div style="float: left;">
            <h3>Importing your orders and customers</h3>
            <p>
                This tool helps you sync all your orders and customers to Richpanel and can take <strong>up to 20 minutes</strong> to complete.<br />
                It will not affect your website's performance at all since it sends your orders to your Richpanel account in small chunks.<br /><br />
                Make sure to <strong>not close this page</strong> while importing. Coffee, maybe?
            </p>
        </div>
        <div style="clear:both"></div>
        <?php echo $this->getButtonHtml() ?>
        <div style="clear:both"></div>
        <div id="richpanel_import_status"></div>
        <div style="clear:both"></div>
    <?php else: ?>
        <div style="float: left;">
            <p>
                In order to import your orders, please pick a store from
                <strong>Current Configuration Scope</strong> on the top left
                to make the import for the selected store.
            </p>
        </div>
        <div style="clear:both"></div>
    <?php endif; ?>
<?php endif; ?>

